body {
	margin: 0 !important;
	color: black;
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f2f2;
}

/*@font-face {
    font-family: 'mattofontregular';
    src: url('../assets/fonts/mattofont-webfont.woff2') format('woff2'),
         url('../assets/fonts/mattofont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/

.alert {
	display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alert.active {
	display: flex;
    justify-content: center;
    align-items: center;
}

.alert .dark {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.60);
}

.alert .holder {
	background-color: white;
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 100px;
}

.alert .holder p {
	margin-bottom: 40px;
	font-size: 25px;
}

.contain {
	max-width: 80%;
	margin: auto;
}

.button {
	font-size:23px;
	color: #ec1e27;
	border: none;
	padding-bottom: 5px;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #ec1e27;
	font-weight: bold;
}

.button.full {
    background: #ec1e27;
    color: white;
    padding: 25px 41px;
}

.button.green {
	color: #77bf43;
	border-color: #77bf43;
}

.orders {
	height: 100%;
	padding: 30px 0;
}

.order {
	margin-top: 30px;
}

.orders .order:first-child {
	margin-top: 0;
}

.card {
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.order .title {
    display: flex;
    justify-content: space-between;
}

.order .title p {
	font-size: 18px;
}

.order .title p span {
	opacity: .4;
}

.card {
	padding: 30px 0;
}

.card .items {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
}

.card .item {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
}

.card .items .item:last-child {
	border-bottom: none;
	margin: 0;
}

.card .item .name {
	font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.card .item .desc {
	margin-top: 10px;
	margin-bottom: 0;
}

.card .item .desc span {
	padding: 0 10px;
	border-left: 1px solid rgba(0, 0, 0, 0.30);
}

.card .item .desc span:first-child {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

.card .button {
	margin-top: 20px;
}

.card img {
	position: absolute;
    right: 30px;
    bottom: 30px;
    width: 40px;
}


























