<template>
	<div class='orders'>
		<list-order v-for='order in newOrders' :order="order">
		</list-order>
	</div>
</template>

<script type="text/javascript">
    import Vue from 'vue'
	// import { mapState } from 'vuex'
	import ListOrder from '../components/ListOrder'
  	const fb = require('../firebaseConfig.js')
	
	Vue.component('list-order', ListOrder)

	export default {

		data: function(){
			return	{
				orders: [
					{
						order_status: 'NEW',
						customer: {
							given_name: 'Persons name'
						},
						account_id: 1,
						line_items: [
							{
								name: 'Item1',
								quantity: 2,
								modifiers: [
									{
										name: 'Topping1'
									},
									{
										name: 'Topping2'
									},
									{
										name: 'Topping3'
									}
								]
							},
							{
								name: 'Item2',
								quantity: 2,
								modifiers: [
									{
										name: 'Topping1'
									},
									{
										name: 'Topping2'
									}
								]
							}

						]
					},
					{
						order_status: 'NEW',
						customer: {
							given_name: 'Persons name'
						},
						line_items: [
							{
								name: 'Item1',
								quantity: 2,
								modifiers: [
									{
										name: 'Topping1'
									},
									{
										name: 'Topping2'
									},
									{
										name: 'Topping3'
									}
								]
							},
							{
								name: 'Item2',
								quantity: 2,
								modifiers: [
									{
										name: 'Topping1'
									},
									{
										name: 'Topping2'
									}
								]
							}

						]
					}
				],
				newOrders: []
			}
		},
		computed: {
			// ...mapState(['newOrders'])
		},
		created(){ 
			let vm = this;
			fb.default.ordersCollection.where('status','==','NEW').onSnapshot(snapshot => {
				vm.newOrders = snapshot.docs;
			});
		}
	}
</script>