<template>
	<header>
		<nav>
			<router-link v-for="tab in tabs" :class="{ active : $route.name == `${tab}Orders` || $route.name == 'home' && tab == 'New' }" tag="p" :to="`/${tab.toLowerCase()}-orders`">
				{{tab == 'Complete'?'Ready':tab }} Orders
				<span v-if="newOrders && tab == 'New' " class="dot newOrder"></span>
			</router-link>
		</nav>
	</header>
</template>

<script type="text/javascript">
	export default {
		props: ['newOrders'],
		data: function(){
			return	{
				tabs: [
					'New',
					'Current',
					'Complete'
				],
				id: 0,
			}
		},
		filter: {
			upperCase(str){
				return str.toUpperCase();
			},
		},
		methods: {
			toggle(id){
				this.id = id;
			}
		},
		mounted(){
			console.log(this.newOrders);
		}
	}
</script>

<style scoped>
	header {
		background-color: white;
		width: 100%;
		border-bottom: 2px solid #b5b5b5;
	}

	header nav {
		display: flex;
		justify-content: space-between;
	}

	header nav p {
		/*font-family: 'mattofontregular';*/
		font-size: 23px;
		padding: 20px 50px;
		margin: 0;
		position: relative;
		top: 3px;
	}

	header nav p span {
		opacity: .4;
	}

	header nav p.active {
		opacity: 1;
		border-bottom: 4px solid #ec1e27;
	}

	header nav p.active span {
		opacity: 1;
	}

	.newOrder {
		background: #ec1e27;
		height: 9px;
		width: 9px;
		position: absolute;
		border-radius: 100%;
		right: 23px;
		top: 18px;
		opacity: 1;
	}
</style>