<template>
    <div class='order'>
        <div class='title contain'>
            <p>{{order.data().date | format_time}} <span>{{order.data().date | format_dow}}</span></p>
            <p>{{order.data().customer.given_name}}</p>
        </div>
        <div class='card'>
            <img @click='removeItem(order.id)' src="../assets/x.png">
            <div class='items contain'>
                <div v-for='item in order.data().line_items' class='item'>
                    <p class='name'>{{item.size}} {{item.name}} <span v-if='item.quantity'>(x{{item.quantity}})</span></p>
                    <p class='desc'><span v-for='topping in item.toppings'>{{topping}}</span></p>
                </div>
            </div>
            <button @click='nextStep()' class='button'>{{next_button_text}}</button>
        </div>
    </div>
</template>

<script>
    const fb = require('../firebaseConfig.js')

    export default {
        props: ['order'],
        computed: {
            next_status(){
                let status = "NEW";
                switch(this.order.data().status){
                    case 'NEW':
                        status = "IN_PROGRESS";
                        break;
                    case 'IN_PROGRESS':
                        status = "READY";
                        break;
                    case 'READY':
                        status = "COMPLETE";
                        break;
                }
                return status;
            },
            next_button_text(){
                let text = "";
                switch(this.order.data().status){
                    case 'NEW':
                        text = "Approve Order";
                        break;
                    case 'IN_PROGRESS':
                        text = "Order Is Ready";
                        break;
                    case 'READY':
                        text = "Complete Order";
                        break;
                }
                return text;
            }
        },
        methods: {
            nextStep(){
                return fb.default.db.collection('order').doc(this.order.id)
                .update({status: this.next_status}).then(()=>{})
                .catch(err => {});
            },
            removeItem() {
                return fb.default.db.collection('order').doc(this.order.id)
                .update({status: 'STORE_CANCELLED'}).then(()=>{})
                .catch(err => {});
            }
        }
    }

</script>