<template>
  <div id="app">
    <header-view :newOrders="newOrders.length > 0"></header-view>
    <router-view/>
    <div class='alert' :class="{ active: alert }">
      <div class='dark'></div>
      <div class="holder">
        <audio ref="alert" id="alert" preload="auto" src="/public/alert.mp3"/>
        <p>You've got some new orders!</p>
        <button @click='stopAlert()' class='button full'>REVIEW ORDERS</button>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue' 
  // import { mapState } from 'vuex'
  import router from './router'
  const fb = require('./firebaseConfig.js')

  export default {
    name: 'app',
    data () {
      return {
        alert: false,
        audio: null,
        init: false,
        newOrders: [],
      }
    },
    computed: {
      // ...mapState(['newOrders'])
    },
    methods: {
      getOrders(o) {
        var filtered = [];
        this.orders.forEach(function(order){
          if ( order.order_status == o ) {
            filtered = filtered.concat(order);
          }
          if ( o == "IN_PROGRESS" && order.order_status === "READY") {
            filtered = filtered.concat(order);
          }
        });
        return filtered;      
      },
      startAlert(){
        clearInterval(this.timer);
        // let audio = this.$refs.alert;
        let vm = this;

        vm.alert = true;
        try {
          // audio.play();
          // this.timer = setInterval(function(){
          //   if ( vm.alert ) {
          //     audio.play();
          //   }
          // }, 2000)
        } catch (err) {
          console.log(err);
        }
      },
      stopAlert() {
        router.push({path: '/new-orders'});
        this.alert = false;
        clearInterval(this.timer);
      }
    },
    watch: {
      newOrders(newOrders, oldOrders){
        if(newOrders.length > oldOrders.length && this.init){
          Vue.nextTick()
            .then(() => {
                this.startAlert();
          });
        }
        this.init = true;
      }
    },
    created() { 
      let vm = this;
      fb.default.ordersCollection.where('status','==','NEW').onSnapshot(snapshot => {
        vm.newOrders = snapshot.docs;
      });
      this.$refs.alert = new Audio('./assets/alert.mp3');
    }
  }

</script>